 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      Freelancer available for Ruby on Rails development, to either join an existing team or to
                      take on and deliver a project to your specification.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      Whether you're a large business who needs an extra pair of hands, or a startup wanting
                      to put together an MVP to validate your idea, with over 10 years of software development
                      experience, I am well placed to deliver your needs.
                    </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
